@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --red: #da2535;
    --black: #292929;
    /* --white: #fbfbfb; */
    --white: #ffffff;
    --off-white: #efefef;
}
.red-border{
    border: 2px solid var(--red) !important;
}

body {
    background-color: var(--white);
    /* background-color: #cfcfcf; */
    animation: fadeInAnimation ease 1s;
    animation-fill-mode: forwards;
}
.profile{
    animation: fadeInAnimation ease 500ms;
}
.post-ad-section .cards, .new-ad, .update-profile, .login, .register, .home{
    animation: fadeInAnimation ease 1000ms;
}

/* Loader */

.loading{
    width: 100%;
    margin: 5px;
    display: flex;
    background-color: var(--black);
    animation: blink 500ms cubic-bezier(.4,0,.6,1) infinite;
}
@keyframes blink {
    0%,100% {
        color:  rgba(160,174,192, 0.3);
        background-color:  rgba(160,174,192, 0.3);
    }
    50%{
        color: rgba(160,174,192, 0.9);
        background-color: rgba(160,174,192, 0.9);
    }
}

  .wrapper{
    display: flex;
    height: 80vh;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .circle{
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color: #fcdc29;
    border-radius: 50%;
    animation: loading 1.5s cubic-bezier(.8, .5, .2, 1.4) infinite;
    transform-origin: bottom center;
    position: relative;
  }
  @keyframes loading{
    0%{
      transform: translateY(0px);
      background-color: #fcdc29;
    }
    50%{
      transform: translateY(50px);
      background-color: #ef584a;
    }
    100%{
      transform: translateY(0px);
      background-color: #fcdc29;
    }
  }
  .circle-1{
    animation-delay: 0.1s;
  }
  .circle-2{
    animation-delay: 0.2s;
  }
  .circle-3{
    animation-delay: 0.3s;
  }
  .circle-4{
    animation-delay: 0.4s;
  }
  .circle-5{
    animation-delay: 0.5s;
  }
  .circle-6{
    animation-delay: 0.6s;
  }
  .circle-7{
    animation-delay: 0.7s;
  }
  .circle-8{
    animation-delay: 0.8s;
  }

/* Header */

.header {
    /* width: 100vw; */
    /* background-color: #ebe5e5; */
    background-color: #ffffff;
    align-items: center;
    /* text-align: center; */
    justify-content: center;
    display: flex;
    justify-content: space-between;
    height: 10vh;
    box-shadow: 0 2px 10px rgb(0 0 0 / 11%);
}

.header>.logo {
    display: flex;
    cursor: pointer;
}

.header img {
    margin: 10px 20px;
}

.header .logo-name {
    font-family: 'Lobster', cursive;
    font-size: 1.5rem;
    /* font-family: 'Poppins', sans-serif; */
    margin: auto 0;
}

.header .nav ul {
    display: flex;
    justify-content: space-around;
    width: 30vw;
    /* height: 10vh; */
    align-items: center;
}

.header .nav li {
    display: flex;
}

.header a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.header .nav-items a {
    padding: 0.6rem 2rem;
    transition: all 0.3s ease; 
}
.header .nav-items a:hover {
    font-size: 20px;
}

/* Footer */

.footer {
    /* position: fixed; */
    /* left: 0; */
    /* bottom: 0; */
    /* margin-top: auto; */
    width: 100%;
    background-color: var(--white);
    color: var(--black);
    text-align: center;
}
.footer .container{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    color: #464646;
    font-size: 18px;
}
.footer .container span{
    cursor: pointer;
    padding: 0 20px;
    transition: all 0.5s ease; 
}
.footer .container span:hover{
    color: var(--black);
    font-size: 20px;
}
.footer .copyright{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    font-size: 0.7rem;
}
.footer hr{
    margin: 0 250px;
    opacity: 0.5;
}

/* Form */

.form {
    background-color: rgba(141, 141, 141, 0.13);
    border-radius: 10px;
    backdrop-filter: blur(30px);
    /* border: 2px solid rgba(255,255,255,0.1); */
    border: 2px solid rgba(97, 97, 97, 0.1);
    /* box-shadow: 0 0 1px rgba(8,7,16,0.6); */
    /* margin: 10px; */
    padding: 30px 35px;
    color: var(--black);
    width: 70%;
}


.form * {
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}

.form h3 {
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.2rem;
    text-align: center;
    margin-bottom: 20px;
}

.form label {
    display: block;
    padding-top: 10px;
    font-size: 1rem;
    font-weight: 500;
}

.form input::-webkit-outer-spin-button,
.form input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.form input,
.form textarea,
.form select {
    /* display: block; */
    height: 35px;
    width: 100%;
    /* background-color: rgba(255,255,255,0.07); */
    background-color: rgba(66, 66, 66, 0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
    /* color: #fff; */
    color: var(--black)
}
::placeholder {
    color: #e5e5e5;
}

.form input:disabled,
.form select:disabled,
.form textarea:disabled {
    /* color:rgba(255, 255, 255, 0.473) */
    color: rgba(0, 0, 0, 0.473)
}

.form select {
    margin: 10px;
}

.form select option {
    /* background-color: rgb(82, 82, 82); */
    background-color: rgb(255, 255, 255);
}

.form textarea {
    height: 100px;
}

.form .section {
    width: 100%;
    padding: 0 5px;
}

.form button {
    margin-top: 50px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 10px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

.form button:hover {
    color: #fff;
    background-color: #a0a0a0;
    transition: all 0.4s ease;
}

.form .container {
    display: flex;
    justify-content: space-between;
    /* background-color: red; */
}

.form .social {
    margin-top: 30px;
    display: flex;
}

.form .social div {
    width: 100%;
    border-radius: 3px;
    padding: 5px 10px 10px 5px;
    background-color: rgb(255, 255, 255);
    color: var(--black);
    text-align: center;
}

.form .social div:hover {
    background-color: #a0a0a0;
    transition: all 0.4s ease;
}

.form .social .signup {
    margin-left: 25px;
}

.form .social a {
    margin-right: 4px;
    text-decoration: none;
    color: var(--black);
}

/* Login & Profile */

.login,
.profile,
.update-profile {
    display: flex;
}

.login>.left,
.login>.right,
.profile>.left,
.profile>.right,
.update-profile>.left,
.update-profile>.right {
    display: flex;
    justify-content: center;
    width: 50vw;
    height: 93vh;
    align-items: center;
    position: relative;
}

.profile>.left,
.profile>.right {
    display: flex;
    justify-content: center;
    width: 50vw;
    height: 70vh;
    /* border: 1px solid #fff; */
    align-items: center;
    position: relative;
}

.profile .cancel-btn,
.update-profile .cancel-btn {
    margin-top: 20px;
}

.profile .logout-btn,
.update-profile .logout-btn {
    background-color: #ff6666;
    margin-top: 20px;
}

.profile .logout-btn:hover,
.update-profile .logout-btn {
    background-color: #ff0000
}

.profile .fields {
    display: flex;
    margin-top: 20px;
}

.profile .heading {
    padding-bottom: 30px;
}

.profile-section .post-ad-section {
    display: flex;
    height: 60px;
    justify-content: space-around;
    background-color: rgba(141, 141, 141, 0.13);
    backdrop-filter: blur(30px);
    border: 2px solid rgba(97, 97, 97, 0.1);
    margin: 0 10vw;
    border-radius: 4px;
}

.profile-section .post-ad-section .heading {
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.profile-section .post-ad-section button {
    margin: 5px;
    width: 30%;
    background-color: #ffffff;
    color: #080710;
    border: none;
    padding: 10px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

.profile-section .post-ad-section button:hover {
    color: #fff;
    background-color: #a0a0a0;
    transition: all 0.4s ease;
}

@media only screen and (max-width: 1000px) {

    .login>.left,
    .profile>.left {
        display: none;
    }

    .login>.right,
    .profile>.right {
        width: 100vw;
    }

    .login .form,
    .profile .form {
        /* position: fixed; */
        padding: 35px;
        width: 85vw;
        /* left: 5%; */
    }
}


/* Home */
.landing-poster {
    /* background-color: red; */
    height: 35vw;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    margin-left: 15vw;
}

.home .landing-poster {
    display: flex;
    /* width: 100%; */
}
.home .landing-poster .poster {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;
}
.home .poster img {
    width: 40vw;
}
.landing-poster .text {
    height: 50%;
}
.landing-poster .title-1 {
    font-size: 3rem;
    font-weight: bold;
}
.landing-poster .title-2 {
    font-size: 1.5rem;
    text-align: left;
    opacity: 0.7;
}
.home .hiw{
    background-color: var(--off-white);
    margin: 50px;
    padding: 30px;
}
.hiw h3{
    text-align: center;
}
.hiw .section{
    /* width: 50%; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 25px 250px;
}
.hiw .line-head{
    font-size: 1.25rem;
    font-weight: bold;
    padding: 10px 0;
    opacity: 0.9;
}
.hiw .line-desc{
    opacity: 0.7;
}
.home .find-post{
    display: flex;
    background-color: var(--white);
    width: 98.9vw;
    height: 20vh;
    margin: 10px 0;
    background-color: var(--off-white);
}
.home .find-post .find, .home .find-post .post{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    border-left: 1px solid #cfcfcf;
}
.home .call{
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    margin: 0 100px;
    padding: 10px;
    background-color: #feebd2;
    border-radius: 2px;
}
.hiw div:nth-child(3) .line{
    margin-left: 30px;
}
.find-post p, .find-post a {
    text-decoration: none;
    color: var(--black);
    text-align: center;
    line-height: 30px;
    border-left: 1px solid #cfcfcf;
}
.find-post a{
    cursor: pointer;
    width: 20%;
    margin: 0 auto;
    margin-top:10px;
    background-color: #cfcfcf;
}
.find-post .l1{
    font-weight: bold;
    font-size: 1.2rem;
}

.search-form {
    margin-top: 3%;
    text-align: center;
    display: flex;
    justify-content: space-around;
}
.search-select {
    width: 60%;
    display: flex;
    justify-content: space-around;
}
.search-select>select {
    border: 1px solid #000;
    border-radius: 5px;
    padding: 10px 15px;
    width: 20%;
    font-size: 1rem;
}
.search-select>button {
    background-color: var(--red);
    border-radius: 5px;
    width: 20%;
    font-size: 1.8rem;
    transition: all 0.3s;
    color: var(--white);
    text-decoration: none;
    padding: 0 5px;
}
.search-select>button:hover {
    /* animation: ease-out; */
    letter-spacing: 0.5rem;
}
.search-select .select-state{
    animation: fadeIn 1s;
}

@keyframes fadeIn{
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}


/* INPUT */
.search-local input {
    height: 100%;
    width: 100%;
    flex: 1 1 25rem;
    background: var(--white);
    display: flex;
    outline: none;
    border: none;
    color: var(--black);
    font-size: 1.3rem;
}

.search-local input[type="text"]::placeholder {
    color: var(--black);
    font-size: 1.3rem;
}

/* BUTTON */
.search-local button {
    background: var(--red);
    border: none;
    border-radius: 0 0.4rem 0.4rem 0;
    font-weight: 500;
    font-size: 1.8rem;
    height: 100%;
    width: 25%;
    cursor: pointer;
    transition: all 0.3s;
    text-align: center;
}

.search-local button a {
    color: var(--white);
    text-decoration: none;
}

.search-local button .search-icon {
    display: none;
}

.search-local button:hover {
    letter-spacing: 0.5rem;
}

/* MEDIAS */
@media (max-width: 575px) {
    .search-local {
        padding-left: 0;
        column-gap: 0.25rem;
    }

    .search-local button {
        width: 10rem;
    }

    button a {
        display: none;
    }

    .search-local button .search-icon {
        display: block;
        margin-inline: auto;
        color: var(--white);
        font-size: 3rem;
    }

    input[type="text"]::placeholder {
        font-size: 1.7rem;
    }
}


/* Cards */

.list {
    display: flex;
    width: 100%;
    justify-content: center;
}

.cards {
    display: flex;
    /* background-color: #292929; */
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
}

.cards .card {
    /* background-color: #ebe5e5; */
    background-color: #ffffff;
    margin: 1rem 0;
    box-shadow: 2px 2px 12px 1px rgba(0, 0, 0, 0.2);
    width: 60%;
    border-radius: 5px;
}

.card .top {
    display: flex;
}

.cards .card .image {
    margin: 20px 20px 10px 20px;
    width: 30%;
    border-radius: 5px;
}

.cards .card .data {
    width: 100%;
    padding: 25px 10px;
}

.card .head {
    display: flex;
    justify-content: space-between;
}

.card .head-data .title {
    font-size: 1.1rem;
    font-weight: bold;
}

.card .head-data .city,
.card .head-data .pincode,
.card .head-data .createdAt {
    font-size: 0.8rem;
    opacity: 0.7;
}

.card .edit-btn {
    text-decoration: none;
    color: var(--black);
    text-align: center;
    height: 26px;
    width: 45px;
    border-radius: 5px;
    background-color: #ebe5e5;
}

.card .price {
    font-size: 1.7rem;
    color: #37a864;
    font-weight: 900;
}

.card .room-info {
    display: flex;
    margin: 10px 0;
    width: 45%;
    justify-content: space-evenly;
}

.card .room-icon {
    width: 20px;
    height: 20px;
    margin: 0 8px;
}

.card .room-data {
    display: flex;
    justify-content: center;
}

.card .bottom {
    display: flex;
    justify-content: space-between;
    padding: 5px 25px;
}

.card .bottom span {
    display: flex;
    justify-content: center;
    opacity: 0.7;
}

.card .section {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

[type="checkbox"]:checked,
[type="checkbox"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

.modal-btn:checked,
.modal-btn:not(:checked),
.card label {
    position: relative;
    transition: all 200ms linear;
    cursor: pointer;
    color: var(--black);
}

.modal-btn:checked,
.modal-btn:not(:checked) {
    position: fixed;
    top: 30px;
    right: 30px;
    z-index: 110;
    width: 40px;
}

.modal-btn:checked,
.modal-btn:not(:checked) {
    background-color: #102770;
    color: #ffeba7;
}

.modal-btn:checked {
    transition: opacity 300ms 300ms ease, transform 300ms 300ms ease, background-color 250ms linear, color 250ms linear;
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
}

.modal {
    position: fixed;
    display: block;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 auto;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: rgba(31, 32, 41, .75);
    pointer-events: none;
    opacity: 0;
    /* opacity: 1; */
    transition: opacity 250ms 700ms ease;
}

.modal .modal-close {
    width: 60px;
    height: 60px;
}

.modal .modal-close-btn {
    display: flex;
    width: 80%;
    height: 10%;
    justify-content: flex-end;
    margin-top: 10px;
}

.y {
    pointer-events: auto;
    opacity: 1;
    transition: all 300ms ease-in-out;
    display: flex;
}

.modal-wrap {
    position: relative;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 4px;
    overflow: hidden;
    padding-bottom: 20px;
    background-color: transparent;
    align-self: center;
    opacity: 0;
    transition: opacity 250ms 250ms ease, transform 300ms 250ms ease;
}

.modal-wrap #map {
    width: 100%;
    height: 80%;
}

.s {
    opacity: 1;
    transform: scale(1);
    transition: opacity 250ms 500ms ease, transform 350ms 500ms ease;
}


@media screen and (max-width: 500px) {
    .modal-wrap {
        width: calc(100% - 40px);
        padding-bottom: 15px;
    }

    .modal-wrap p {
        padding: 15px 20px 0 20px;
    }
}

@media (max-width: 800px) {
    .cards .card {
        flex: 100%;
    }
}


/* PostAd */

.new-ad {
    display: flex;
    align-items: center;
    justify-content: center;
}

.new-ad img {
    width: 30%;
}

.new-ad .form {
    margin: 50px;
}

.new-ad .map {
    margin-top: 10px;
}

.new-ad #map {
    width: 100%;
    height: 50vh;
    border: 1px solid var(--black);
}

/* Maps */

.maps #map {
    width: 100vw;
    height: 88vh;
}
.maps .popup{
    cursor: pointer;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}